* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #fdfdfd;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    font-family: inherit;
    transition: 0.3s;
  }
  
  button:hover {
    opacity: 0.9;
    transform: scale(1.01);
  }
  